*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root,
.app {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}
